body{
	background-image: url("molecule.jpg");
}

#title{
	text-align: center;
	background-color: black;
	color: #00ccff;
	padding: 10px;
	margin-top: 0px;
	border: 3px solid #00ccff;
	border-radius: 15px;
	font-family: "Share Tech Mono", monospace;
}

input[type="text"]{
	text-align: center;
	padding: 5px;
	border: 2px solid #00ccff;
}
#userInput1, #userInput2{
	margin: 0px 0px 3px 0px;	
}
.responseGood{
	text-align: center;
	width: 300px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background-color: black;
	text-align: center;
	border: 2px solid #00ccff;
	border-radius: 15px;
	color: green;
}
.responseBad{
	text-align: center;
	width: 300px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background-color: black;
	text-align: center;
	border: 2px solid #00ccff;
	border-radius: 15px;
	color: red;
}

#question{
	width: 200px;
	margin-bottom: 60px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: black;
	text-align: center;
	border: 3px solid #00ccff;
	border-radius: 15px;
	font-size: 125%;
	color: white;
}

.textTitle{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	background-color: black;
	color: #00ccff;
	text-align: center;
	border: 1px solid #00ccff;
	border-radius: 10px 10px 0px 0px;
}

#goButton{
	margin-top: 10px;
	margin-bottom: 10px;
}